@media (max-width: 1200px) {
  .container {
    width: 900px;
  }

  .flex {
    flex-wrap: wrap;
  }

  section#cities {
    .portion {
      width: 30%;
      flex: auto;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }

  header#main-header {
    .container {
      & > ul {
        display: none;
      }

      & > .dropdown {
        display: block;
      }
    }
  }

  section#search {
    form {
      flex-direction: column;
      gap: 1rem;
    }
  }

  section#cities {
    .portion {
      width: 45%;
      flex: auto;
    }
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }

  header#main-header {
    .logo {
      div {
        display: none;
      }
    }
  }

  section#cities {
    .portion {
      width: 100%;
      flex: auto;
    }
  }
}
